<footer class="admin-footer">
    <div class="admin-footer-container">
        <div class="admin-footer-content">
            <div class="admin-footer-logo">
                <i class="fas fa-shield-alt"></i>
                <span>CMS Admin</span>
            </div>

            <div class="admin-footer-links">
                <a href="/help" class="admin-footer-link">Help</a>
                <a href="/docs" class="admin-footer-link">Documentation</a>
                <a href="/support" class="admin-footer-link">Support</a>
            </div>

            <div class="admin-footer-copyright">
                &copy; 2025 Credit Management System. All rights reserved.
            </div>
        </div>
    </div>
</footer>
